<div class="main-container">
    <div>
        <a href="#aboveTheFold">
            <div class="name">
                <span>Step</span>
                <span class="custom-h">h</span>
                <span>an</span>
                <span class="custom-i">i</span>
                <span>e</span>
            </div>
        </a>

        <div class="imprint-container">
            <a routerLink="imprint">Imprint
                <span class="custom-underline"></span>
            </a>
        </div>

    </div>

    <span></span>

    <div>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
</div>