<div class="main-container">
    <div>
        <a href="#header">
            <div class="name">
                <span>Step</span>
                <span class="custom-h">h</span>
                <span>an</span>
                <span class="custom-i">i</span>
                <span>e</span>
            </div>
        </a>

        <div class="imprint-container">
            <a class="imprint-link" routerLink="imprint">Imprint
                <span class="custom-underline"></span>
            </a>
        </div>

    </div>

    <span class="copyright-claim">© Stephanie Wetzel 2024</span>

    <div class="platforms-container">
        <a class="platform-scale" href="https://github.com/StephanieWetzel" target="_blank">
            <img src="assets/img/github.png" alt="github">
        </a>
        <a class="platform-scale" href="mailto:st.wetzel96@hotmail.com">
            <img src="assets/img/mail.png" alt="mail">
        </a>
        <a class="platform-scale" href="">
            <img src="assets/img/linkedin.png" alt="linkedin">
        </a>
    </div>
</div>