.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 104px 0 104px;
    max-width: 1920px;
    margin: 0 auto;
}

.skills-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
    padding-right: 120px;
    z-index: 1;
    position: relative;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        >img {
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;

            &:hover {
                animation-name: bounce;
                -moz-animation-name: bounce;
            }
        }
    }
}

h2 {
    font-size: 88px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    text-align: end;

    >div {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    >span {
        font-size: 18px;
    }

    >a {
        text-decoration: none;
        padding: 14px 32px;
        background-color: #70E61C;
        border-radius: 10px;
        font-size: 24px;
        margin: 5px 10px;
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            margin: 0;
            padding: 20px 42px;
            background-color: #9747FF;
        }
    }
}

.custom-line {
    display: flex;
    height: 4px;
    width: 72px;
    background-color: #9747FF;
    position: absolute;
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.shadow {
    position: absolute;
    left: 0;
    top: 64%;
}


@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.mobile-contact-me-link {
    text-decoration: none;
    padding: 14px 32px;
    background-color: #70E61C;
    border-radius: 10px;
    font-size: 24px;
    margin: 5px 10px;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        margin: 0;
        padding: 20px 42px;
        background-color: #9747FF;
    }
}



// media queries
@media(min-width: 1921px) {
    .custom-line {
        position: relative;
        right: auto;
    }
}

@media(min-width: 1100px) {
    .mobile-contact-me-link {
        display: none;
    }
}

@media(min-width: 800px) and (max-width: 1100px) {
    .main-container {
        padding: 112px 104px;
        flex-direction: column-reverse;
        gap: 48px;
        text-align: center;
        position: relative;
    }

    .skills-container {
        padding-right: 0;
        justify-content: center;
        padding-bottom: 80px;
    }

    .text-container {
        >a {
            display: none;
        }
    }

    .shadow {
        top: 56%;
        left: 0;
        width: 264px;
    }
}

@media(min-width: 320px) and (max-width: 800px) {
    .main-container {
        padding: 112px 32px;
        flex-direction: column-reverse;
        gap: 48px;
        text-align: center;
        position: relative;
    }

    h2 {
        font-size: 48px;
    }

    .shadow {
        top: 64%;
        left: -8%;
        width: 264px;
    }

    .skills-container {
        padding-right: 0;
        justify-content: center;
        padding-bottom: 56px;

        >div {
            width: 40px;

            >img {
                width: 40px;

            }
        }
    }

    .text-container {
        >a {
            display: none;
        }

        >span {
            font-size: 16px;
        }

        .custom-line {
            width: 24px;
        }
    }

    .mobile-contact-me-link {
        position: relative;
        z-index: 1;
    }
}

@media(min-width: 500px) {
    h2 {
        font-size: 64px;
    }
}