<div class="main-container">
    <div class="about-me-text">
        <h2>About me</h2>
        <span>Hi, I am a Front-end developer based in Gefrees, Germany. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Laborum ad, commodi, accusamus maxime a et numquam consequatur labore libero dolores
            totam incidunt molestiae dolore vitae, obcaecati quia hic! Inventore, in.</span>
        <div class="personal-things">
            <img class="lightbulb" src="assets/img/lightbulb.png" alt="lightbulb">
            <span>Some personal things to share. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                inventore cumque magnam eum dicta, vero omnis doloribus, velit ad laborum ex eveniet quisquam
                consectetur? Optio saepe dignissimos odit ad id!</span>
        </div>
        <div class="personal-things">
            <img src="assets/img/puzzlepiece.png" alt="puzzlepiece">
            <span>Some personal thing to share. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Praesentium magnam, quidem quisquam magni odio accusamus libero distinctio, ut eaque totam officiis,
                laudantium assumenda maxime debitis ullam ex neque! Iste, molestias!</span>
        </div>
    </div>

    <div class="image-container">
        <div></div>
    </div>
    <img class="shadow" src="assets/img/about_me_shadow.png">
</div>