<div class="main-container">
    <div class="about-me-text">
        <h2>{{ lngService.aboutMe["header"] }}</h2>
        <span>{{ lngService.aboutMe["p1"] }}</span>
        <div class="personal-things">
            <img class="lightbulb" src="assets/img/lightbulb.png" alt="lightbulb">
            <span>{{ lngService.aboutMe["p2"] }}</span>
        </div>
        <div class="personal-things">
            <img src="assets/img/puzzlepiece.png" alt="puzzlepiece">
            <span>{{ lngService.aboutMe["p3"] }}</span>
        </div>
    </div>

    <div class="image-container">
        <div></div>
    </div>
    <img class="shadow" src="assets/img/about_me_shadow.png">
</div>