<div class="main-container">
    <div class="header-container">
        <span class="custom-line"></span>
        <h2>{{ lngService.contact["header"]}}</h2>
    </div>

    <div class="contact-container">
        <div>
            <span class="sub-header">{{ lngService.contact["p1"]}}</span>
            <p>{{ lngService.contact["p2"]}}</p>
            <span>{{ lngService.contact["p3"]}} <b>{{ lngService.contact["p3bold"]}}</b></span>
        </div>

        <div class="form-container">
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <!-- name -->
                <div>
                    <input formControlName="name" type="text" placeholder="{{ lngService.contact['placeholder1'] }}"
                        id="name" required [ngClass]="{'green-border': formData.get('name')?.valid,
                        'red-border': formData.get('name')?.invalid && formData.get('name')?.touched}">

                    <div *ngIf="formData.get('name')?.invalid && formData.get('name')?.touched">
                        <span class="invalid-text" *ngIf="formData.get('name')?.errors?.['required']">
                            {{ lngService.contact['warn1'] }}
                        </span>
                        <span class="invalid-text" *ngIf="formData.get('name')?.errors?.['minlength']">
                            {{ lngService.contact['warnRequire1'] }}
                        </span>
                    </div>

                    <img *ngIf="formData.get('name')?.valid"
                        [ngStyle]="{'position': 'absolute', 'right': '24px', 'top': '16px'}"
                        src="assets/img/done_symbol.png">

                    <img *ngIf="formData.get('name')?.invalid && formData.get('name')?.touched"
                        [ngStyle]="{'position': 'absolute', 'right': '24px', 'top': '16px'}"
                        src="assets/img/error_symbol.png">
                </div>

                <!-- email -->
                <div>
                    <input formControlName="email" type="email" placeholder="{{ lngService.contact['placeholder2'] }}"
                        id="email" required pattern="[^@]+@[^\.]+\..+" [ngClass]="{'green-border': formData.get('email')?.valid,
                        'red-border': formData.get('email')?.invalid && formData.get('email')?.touched}">

                    <div *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched">
                        <span class="invalid-text" *ngIf="formData.get('email')?.errors?.['required']">
                            {{ lngService.contact['warn2'] }}
                        </span>
                        <span class="invalid-text" *ngIf="formData.get('email')?.errors?.['pattern']">
                            {{ lngService.contact['warnRequire2'] }}
                        </span>
                    </div>

                    <img *ngIf="formData.get('email')?.valid"
                        [ngStyle]="{'position': 'absolute', 'right': '24px', 'top': '16px'}"
                        src="assets/img/done_symbol.png">

                    <img *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched"
                        [ngStyle]="{'position': 'absolute', 'right': '24px', 'top': '16px'}"
                        src="assets/img/error_symbol.png">
                </div>

                <!-- message -->
                <div>
                    <textarea formControlName="message" placeholder="{{ lngService.contact['placeholder3'] }}"
                        id="message" cols="30" rows="10" required
                        [ngClass]="{'green-border': formData.get('message')?.valid,
                        'red-border': formData.get('message')?.invalid && formData.get('message')?.touched}"></textarea>

                    <div *ngIf="formData.get('message')?.invalid && formData.get('message')?.touched">
                        <span class="invalid-text" *ngIf="formData.get('message')?.errors?.['required']">
                            {{ lngService.contact['warn3'] }}
                        </span>
                        <span class="invalid-text" *ngIf="formData.get('message')?.errors?.['minlength']">
                            {{ lngService.contact['warnRequire3'] }}
                        </span>
                    </div>

                    <img *ngIf="formData.get('message')?.valid"
                        [ngStyle]="{'position': 'absolute', 'right': '24px', 'top': '16px'}"
                        src="assets/img/done_symbol.png">

                    <img *ngIf="formData.get('message')?.invalid && formData.get('message')?.touched"
                        [ngStyle]="{'position': 'absolute', 'right': '24px', 'top': '16px'}"
                        src="assets/img/error_symbol.png">
                </div>

                <div class="privacy-policy-container">
                    <label class="container">
                        <input formControlName="checkbox" type="checkbox" checked="checked" required>
                        <span class="checkmark"></span>
                    </label>
                    <p>{{ lngService.contact['policy1'] }}
                        <a class="policy-link" routerLink="privacyPolicy">{{ lngService.contact['policy2'] }}</a>
                        {{ lngService.contact['policy3'] }}
                    </p>
                </div>

                <!-- send -->
                <div class="btn-container">
                    <button [disabled]="formData.invalid" type="submit"
                        [ngClass]="{'green-button': formData.get('name')?.valid && formData.get('email')?.valid && formData.get('message')?.valid && formData.get('checkbox')?.valid}">
                        Send message :)
                    </button>
                </div>
            </form>

            <a class="go-up" href="#header">
                <div></div>
            </a>
        </div>

        <img class="shadow" src="assets/img/contact_shadow.png">
    </div>