app-project {
    width: 100%;
}

.main-container {
    display: flex;
    align-items: center;
    padding-top: 104px;
    gap: 80px;
    position: relative;
    z-index: 1;
    justify-content: space-between;

    >img {
        width: 448px;
        height: 272px;
        filter: drop-shadow(2px 4px 6px black);
    }
}

h3 {
    font-size: 32px;
    color: #9747FF;
    margin-block-start: 0;
    margin-block-end: 16px;
}

span {
    font-size: 24px;
    color: #70E61C;
}

p {
    font-size: 18px;
    margin-block-end: 2em;
}

a {
    text-decoration: none;
    padding: 14px 32px;
    border-radius: 10px;
    font-size: 24px;
    margin: 5px 10px;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #70E61C;
    }
}

.live-link {
    background-color: #9747FF;
}

.github-link {
    border: 1px solid #70E61C;
}


// media queries
@media(min-width: 320px) and (max-width: 1100px) {
    .main-container {
        flex-direction: column !important;
        gap: 48px;
        padding: 32px 0;
    }
}

@media(min-width: 900px) {
    .main-container {
        >img {
            width: 448px;
            height: 304px;
        }
    }
}

@media(min-width: 500px) and (max-width: 900px) {
    .main-container {
        >img {
            width: 400px;
            height: 280px;
        }
    }
}

@media(min-width: 320px) and (max-width: 500px) {
    .main-container {
        >img {
            width: 264px;
            height: 184px;
        }
    }

    a {
        padding: 12px 14px;
        font-size: 18px;
    }
}

// FOR MOBILE
// @media(min-height: 600px) {
//     .main-container {
//         padding: 48px 32px;
//     }
// }