<div class="main-container">
    <div>
        <img class="me" src="assets/img/me_full.png">
        <img class="shadows" src="assets/img/above_the_fold_shadows.png">
    </div>

    <div class="intro-container">
        <span class="i-am">I am</span>

        <div>
            <div class="frontend-container">
                <span class="name">Stephanie Wetzel</span>
                <span class="frontend-developer">FRONTEND DEVELOPER</span>
            </div>

            <a class="contact-me-link" href="#contactMe">Let´s talk!</a>
        </div>
    </div>

    <div class="platforms-container">
        <span></span>
        <a class="platform-scale" href="https://github.com/StephanieWetzel" target="_blank">
            <img src="assets/img/github.png" alt="github">
        </a>
        <a class="platform-scale" href="mailto:st.wetzel96@hotmail.com">
            <img src="assets/img/mail.png" alt="mail">
        </a>
        <a class="platform-scale" href="">
            <img src="assets/img/linkedin.png" alt="linkedin">
        </a>

        <div class="mail-container">
            <a class="mail" href="mailto:st.wetzel96@hotmail.com">
                st.wetzel96&#64;hotmail.com
                <span class="custom-underline"></span>
            </a>
        </div>
    </div>

    <img class="bottom-form" src="assets/img/above_fold_bottom.png">
</div>