<div class="main-container">
    <div>
        <img class="me" src="assets/img/me_full.png">
        <img class="shadows" src="assets/img/above_the_fold_shadows.png">
    </div>

    <div class="intro-container">

        <div class="i-am i-am-animation">
            <span class="margin-right-8">I</span>
            <span>a</span>
            <span>m</span>
        </div>

        <div>
            <div class="frontend-container">
                <div>
                    <span class="name" data-aos="fade-up" data-aos-delay="1000">S</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1100">t</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1200">e</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1300">p</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1400">h</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1500">a</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1600">n</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1700">i</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1800">e </span>
                    <span class="name" data-aos="fade-up" data-aos-delay="1900">W</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="2000">e</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="2100">t</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="2200">z</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="2300">e</span>
                    <span class="name" data-aos="fade-up" data-aos-delay="2400">l</span>
                </div>
                <div data-aos="fade-up" data-aos-delay="2500">
                    <span class="frontend-developer" data-aos-delay="1700">F</span>
                    <span class="frontend-developer" data-aos-delay="1800">R</span>
                    <span class="frontend-developer" data-aos-delay="1900">O</span>
                    <span class="frontend-developer" data-aos-delay="2000">N</span>
                    <span class="frontend-developer" data-aos-delay="2100">T</span>
                    <span class="frontend-developer" data-aos-delay="2200">E</span>
                    <span class="frontend-developer" data-aos-delay="2300">N</span>
                    <span class="frontend-developer" data-aos-delay="2400">D </span>
                    <span class="frontend-developer" data-aos-delay="2600">D</span>
                    <span class="frontend-developer" data-aos-delay="2700">E</span>
                    <span class="frontend-developer" data-aos-delay="2800">V</span>
                    <span class="frontend-developer" data-aos-delay="2900">E</span>
                    <span class="frontend-developer" data-aos-delay="3000">L</span>
                    <span class="frontend-developer" data-aos-delay="3100">O</span>
                    <span class="frontend-developer" data-aos-delay="3200">P</span>
                    <span class="frontend-developer" data-aos-delay="3300">E</span>
                    <span class="frontend-developer" data-aos-delay="3400">R</span>
                </div>
            </div>

            <div class="contact-me-link">
                <a href="#contactMe">Let´s talk!</a>
            </div>
        </div>
    </div>

    <div class="platforms-container">
        <span></span>
        <a class="platform-scale" href="https://github.com/StephanieWetzel" target="_blank">
            <img src="assets/img/github.png" alt="github">
        </a>
        <a class="platform-scale" href="mailto:st.wetzel96@hotmail.com">
            <img src="assets/img/mail.png" alt="mail">
        </a>
        <a class="platform-scale" href="https://www.linkedin.com/in/stephanie-wetzel-6231842b9/" target="_blank">
            <img src="assets/img/linkedin.png" alt="linkedin">
        </a>

        <div class="mail-container">
            <a class="mail" href="mailto:st.wetzel96@hotmail.com">
                st.wetzel96&#64;hotmail.com
                <span class="custom-underline"></span>
            </a>
        </div>
    </div>
</div>
<img class="bottom-form" src="assets/img/above_fold_bottom.png">