.main-container {
    background-color: #141D2F;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.bottom-form {
    position: absolute;
    top: 392px;
    z-index: 3;
    width: 100%;
    height: 920px;
}

.me {
    width: 560px;
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 2;
}

.shadows {
    margin-top: 160px;
    margin-left: -136px;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    top: 256px;
    right: 104px;
    text-align: center;

    .i-am {
        display: flex;
        font-size: 68px;
        transform: rotate(-90deg);
        margin-right: -16px;
    }

    .frontend-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            font-size: 72px;
            font-weight: bold;
        }

        .frontend-developer {
            font-size: 60px;
            color: #9747FF;
        }
    }
}

.contact-me-link {
    position: absolute;
    right: 320px;
    top: 240px;
    padding: 14px 32px;

    background-color: #70E61C;
    border-radius: 10px;

    margin: 5px 10px;
    transition: all 125ms ease-in-out;

    >a {
        text-decoration: none;
        font-size: 24px;
    }

    &:hover {
        cursor: pointer;
        margin: 0;
        padding: 20px 42px;
        background-color: #9747FF;
    }
}

.platforms-container {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 40px;
    bottom: 96px;
    z-index: 6;

    >span {
        display: flex;
        height: 4px;
        width: 104px;
        background-color: #9747FF;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    >a {
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }
}

.platform-scale {
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.25);
    }
}

.mail-container {
    position: relative;

    .mail {
        text-decoration: none;
        font-size: 24px;
        transition: all 125ms ease-in-out;

        &:hover {
            color: #70E61C;
        }

        .custom-underline {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            height: 3px;
            width: 0;
            background-color: #9747FF;
            transition: all 200ms ease-in-out;
        }

        &:hover .custom-underline {
            width: 35%;
        }
    }
}



/*I'am Animation*/

.i-am-animation span {
    opacity: 0;
    animation: fadeInAndSlide 1s ease-in-out forwards;
}

@keyframes fadeInAndSlide {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.margin-right-8 {
    margin-right: 8px;
}


// MEDIA QUERIES
@media(min-width: 2100px) {
    .intro-container {
        right: 0;
    }
}

@media(min-width: 1200px) and (max-width: 1440px) {
    .me {
        width: 520px;
        left: 24px;
        top: 56px;
    }

    .intro-container {
        top: 256px;

        .frontend-container {
            .name {
                font-size: 60px;
            }

            .frontend-developer {
                font-size: 50px;
            }
        }

        .i-am {
            font-size: 56px;
        }
    }

    .contact-me-link {
        right: 176px;
        top: 176px;
    }
}

@media(min-width: 1000px) and (max-width: 1200px) {
    .me {
        width: 400px;
        left: 24px;
        top: 56px;
    }

    .intro-container {
        top: 208px;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 52px;
            }

            .frontend-developer {
                font-size: 42px;
            }
        }

        .i-am {
            margin-bottom: 68px;
            font-size: 46px;
        }
    }

    .bottom-form {
        height: 680px;
        top: 320px;
    }

    .contact-me-link {
        position: relative;
        width: 112px;
        right: -120px;
        top: 16px;
    }

    .platforms-container {
        bottom: 200px;
    }
}

@media(min-width: 900px) and (max-width: 1000px) {
    .me {
        width: 448px;
        top: 56px;
        left: 64px;
    }

    .intro-container {
        top: 600px;
        left: 0;
        right: 0;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 52px;
            }

            .frontend-developer {
                font-size: 42px;
            }
        }

        .i-am {
            margin-bottom: 68px;
            font-size: 46px;
        }
    }

    .bottom-form {
        height: 704px;
        top: 320px;
    }

    .contact-me-link {
        position: relative;
        width: 112px;
        right: -120px;
        top: 16px;
    }

    .mail-container {
        display: none;
    }
}

@media(min-width: 800px) and (max-width: 900px) {
    .me {
        width: 448px;
        top: 56px;
        left: 64px;
    }

    .intro-container {
        top: 600px;
        right: 0;
        left: 0;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 52px;
            }

            .frontend-developer {
                font-size: 42px;
            }
        }

        .i-am {
            margin-bottom: 68px;
            font-size: 46px;
        }
    }

    .bottom-form {
        height: 704px;
        top: 320px;
    }

    .contact-me-link {
        position: relative;
        width: 112px;
        right: -120px;
        top: 16px;
    }

    .mail-container {
        display: none;
    }
}

@media(min-width: 650px) and (max-width: 800px) {
    .me {
        width: 448px;
        top: 56px;
        left: 64px;
    }

    .bottom-form {
        height: 704px;
        top: 320px;
    }

    .mail-container {
        display: none;
    }

    .intro-container {
        top: 600px;
        right: 0;
        left: 0;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 52px;
            }

            .frontend-developer {
                font-size: 42px;
            }
        }

        .i-am {
            margin-bottom: 68px;
            font-size: 46px;
        }
    }

    .contact-me-link {
        position: relative;
        width: 112px;
        right: -104px;
        top: 20px;
    }

    .shadows {
        margin-top: 160px;
        margin-left: -152px;
    }
}

@media(min-width: 500px) and (max-width: 650px) {
    .me {
        width: 360px;
        top: 56px;
        left: 16px;
        z-index: 2;
    }

    .intro-container {
        top: 488px;
        right: 0;
        left: -24px;
        gap: 8px;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 44px;
            }

            .frontend-developer {
                font-size: 36px;
            }
        }

        .i-am {
            font-size: 38px;
            margin-bottom: 72px;
        }
    }

    .shadows {
        height: 492px;
        margin-top: 125px;
        margin-left: -80px;
    }

    .bottom-form {
        top: 160px;
        width: 136%;
        height: 760px;
    }

    .platforms-container {
        bottom: -200px;

        >span {
            width: 26px;
        }
    }

    .mail-container {
        display: none;
    }

    .contact-me-link {
        position: relative;
        display: flex;
        justify-content: center;
        left: 72px;
        right: 0;
        top: 8px;
        width: 112px;
    }
}

@media(min-width: 400px) and (max-width: 500px) {
    .me {
        width: 360px;
        top: 56px;
        left: 16px;
        z-index: 2;
    }

    .intro-container {
        top: 504px;
        right: 0;
        left: -24px;
        gap: 8px;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 36px;
            }

            .frontend-developer {
                font-size: 30px;
            }
        }

        .i-am {
            font-size: 34px;
            margin-bottom: 72px;
        }
    }

    .shadows {
        height: 492px;
        margin-top: 125px;
        margin-left: -80px;
    }

    .bottom-form {
        top: 184px;
        width: 170%;
        height: 712px;
    }

    .platforms-container {
        bottom: -200px;

        >span {
            width: 26px;
        }
    }

    .mail-container {
        display: none;
    }

    .contact-me-link {
        position: relative;
        display: flex;
        justify-content: center;
        left: 48px;
        right: 0;
        top: 8px;
        width: 112px;
    }
}

@media(min-width: 360px) and (max-width: 400px) {
    .me {
        width: 360px;
        top: 56px;
        left: 16px;
        z-index: 2;
    }

    .intro-container {
        top: 480px;
        right: 0;
        left: -24px;
        gap: 8px;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 32px;
            }

            .frontend-developer {
                font-size: 26px;
            }
        }

        .i-am {
            font-size: 30px;
            margin-bottom: 72px;
        }
    }

    .shadows {
        height: 492px;
        margin-top: 125px;
        margin-left: -80px;
    }

    .bottom-form {
        top: 184px;
        width: 180%;
        height: 712px;
    }

    .platforms-container {
        bottom: -136px;

        >span {
            width: 26px;
        }
    }

    .mail-container {
        display: none;
    }

    .contact-me-link {
        position: relative;
        display: flex;
        justify-content: center;
        left: 30px;
        right: 0;
        top: 8px;
        width: 112px;
    }
}

@media(min-width: 320px) and (max-width: 360px) {
    .me {
        width: 360px;
        top: 48px;
        left: -12px;
        z-index: 2;
    }

    .intro-container {
        top: 480px;
        right: 0;
        left: -24px;
        gap: 8px;

        .frontend-container {
            align-items: flex-start;

            .name {
                font-size: 26px;
            }

            .frontend-developer {
                font-size: 20px;
            }
        }

        .i-am {
            font-size: 24px;
            margin-bottom: 64px;
        }
    }

    .shadows {
        height: 492px;
        margin-top: 125px;
        margin-left: -80px;
    }

    .bottom-form {
        top: 184px;
        width: 180%;
        height: 712px;
    }

    .platforms-container {
        bottom: -88px;

        >span {
            width: 26px;
        }
    }

    .mail-container {
        display: none;
    }

    .contact-me-link {
        position: relative;
        display: flex;
        justify-content: center;
        left: 6px;
        right: 0;
        top: 8px;
        width: 112px;
        padding: 10px 32px;
    }
}