.main-container {
    padding: 104px;
    max-width: 1920px;
    margin: 0 auto;
}

.router-link-container {
    display: flex;
    justify-content: flex-end;

    >a {
        font-size: 32px;
        text-decoration: none;
    }
}

a {
    &:hover {
        color: #70E61C;
    }
}


// media queries
@media(max-width: 900px) {
    .main-container {
        padding: 104px 32px;
    }
}