<app-header></app-header>

<div class="main-container">
    <h1>{{ lngService.privacyPolicy["header1"] }}</h1>
    <h2>{{ lngService.privacyPolicy["header2"] }}</h2>
    <h3>{{ lngService.privacyPolicy["header3"] }}</h3>
    <p>{{ lngService.privacyPolicy["p1"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader1"] }}</h3>
    <h4>{{ lngService.privacyPolicy["subheader2"] }}</h4>
    <p>{{ lngService.privacyPolicy["p2"] }}</p>
    <h4>{{ lngService.privacyPolicy["subheader3"] }}</h4>
    <p>{{ lngService.privacyPolicy["p3"] }}</p>
    <p>{{ lngService.privacyPolicy["p4"] }}</p>
    <h4>{{ lngService.privacyPolicy["subheader4"] }}</h4>
    <p>{{ lngService.privacyPolicy["p5"] }}</p>
    <h4>{{ lngService.privacyPolicy["subheader5"] }}</h4>
    <p>{{ lngService.privacyPolicy["p6"] }}</p>
    <p>{{ lngService.privacyPolicy["p7"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader6"] }}</h3>
    <p>{{ lngService.privacyPolicy["p8"] }}</p>
    <p>{{ lngService.privacyPolicy["p9"] }}</p>
    <h2>2. Hosting</h2>
    <p>{{ lngService.privacyPolicy["p10"] }}</p>
    <h3>All-Inkl</h3>
    <p>{{ lngService.privacyPolicy["p11"] }}<a href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
            rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.</p>
    <p>{{ lngService.privacyPolicy["p12"] }}</p>

    <h4>{{ lngService.privacyPolicy["subheader9"] }}</h4>
    <p>{{ lngService.privacyPolicy["p13"] }}</p>
    <h2>{{ lngService.privacyPolicy["subheader10"] }}</h2>
    <h3>{{ lngService.privacyPolicy["subheader11"] }}</h3>
    <p>{{ lngService.privacyPolicy["p14"] }}</p>
    <p>{{ lngService.privacyPolicy["p15"] }}</p>
    <p>{{ lngService.privacyPolicy["p16"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader12"] }}</h3>
    <p>{{ lngService.privacyPolicy["p17"] }}</p>
    <p>Stephanie Wetzel<br />
        Schlesienstra&szlig;e 14<br />
        95482 Gefrees</p>

    <p>{{ lngService.privacyPolicy["phone"] }}: +49 151 10779840<br />
        {{ lngService.privacyPolicy["mail"] }}: contact&#64;stephanie-wetzel.com</p>
    <p>{{ lngService.privacyPolicy["p18"] }}</p>

    <h3>{{ lngService.privacyPolicy["subheader13"] }}</h3>
    <p>{{ lngService.privacyPolicy["p19"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader14"] }}</h3>
    <p>{{ lngService.privacyPolicy["p20"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader15"] }}</h3>
    <p>{{ lngService.privacyPolicy["p21"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader16"] }}</h3>
    <p>{{ lngService.privacyPolicy["p22"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader17"] }}</h3>
    <p>{{ lngService.privacyPolicy["p23"] }}</p>
    <p>{{ lngService.privacyPolicy["p24"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader18"] }}</h3>
    <p>{{ lngService.privacyPolicy["p25"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader19"] }}</h3>
    <p>{{ lngService.privacyPolicy["p26"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader20"] }}</h3>
    <p>{{ lngService.privacyPolicy["p27"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader21"] }}</h3>
    <p>{{ lngService.privacyPolicy["p28"] }}</p>
    <ul>
        <li>{{ lngService.privacyPolicy["li1"] }}</li>
        <li>{{ lngService.privacyPolicy["li2"] }}</li>
        <li>{{ lngService.privacyPolicy["li3"] }}</li>
        <li>{{ lngService.privacyPolicy["li4"] }}</li>
    </ul>
    <p>{{ lngService.privacyPolicy["p29"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader22"] }}</h3>
    <p>{{ lngService.privacyPolicy["p30"] }}</p>
    <p>{{ lngService.privacyPolicy["p31"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader23"] }}</h3>
    <p>{{ lngService.privacyPolicy["p32"] }}</p>
    <h2>{{ lngService.privacyPolicy["subheader24"] }}</h2>
    <h3>{{ lngService.privacyPolicy["subheader25"] }}</h3>
    <p>{{ lngService.privacyPolicy["p34"] }}</p>
    <p>{{ lngService.privacyPolicy["p35"] }}</p>
    <p>{{ lngService.privacyPolicy["p36"] }}</p>
    <h3>{{ lngService.privacyPolicy["subheader26"] }}</h3>
    <p>{{ lngService.privacyPolicy["p37"] }}</p>
    <p>{{ lngService.privacyPolicy["p38"] }}</p>
    <p>{{ lngService.privacyPolicy["p39"] }}</p>
    <p>{{ lngService.privacyPolicy["source"] }}: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</div>