.main-container {
    padding: 32px 104px;
}

.router-link-container {
    display: flex;
    justify-content: flex-end;

    >a {
        font-size: 32px;
        text-decoration: none;
    }
}

a {
    &:hover {
        color: #70E61C;
    }
}