<nav>
    <a href="#header">
        <div class="name">
            <span>Step</span>
            <span class="custom-h">h</span>
            <span>an</span>
            <span class="custom-i">i</span>
            <span>e</span>
        </div>
    </a>

    <div class="links">
        <div>
            <a href="#aboutMe">About me<span class="custom-underline"></span></a>
        </div>
        <div>
            <a href="#mySkills">Skills<span class="custom-underline"></span></a>
        </div>
        <div>
            <a href="#myProjects">Portfolio<span class="custom-underline"></span></a>
        </div>
    </div>
</nav>