h2 {
    font-size: 64px;
    padding: 0 0 0 32px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    padding: 160px 104px 0 104px;
    position: relative;
    gap: 32px;
    max-width: 1920px;
    margin: 0 auto;

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    >span {
        font-size: 18px;
        margin-top: 32px;
        text-align: center;
    }
}

.short-line {
    display: flex;
    height: 4px;
    width: 96px;
    background-color: #9747FF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.long-line {
    position: absolute;
    right: 0;
    display: flex;
    height: 4px;
    width: 488px;
    background-color: #9747FF;
}

.shadow-purple {
    position: absolute;
    left: -320px;
    bottom: 56px;
}

.shadow-green {
    position: absolute;
    right: 0;
    bottom: -496px;
}



// media queries
@media(min-width: 1921px) {
    .main-container {
        >div {
            justify-content: flex-end;
            gap: 24px;
        }
    }

    .long-line {
        width: 38%;
        position: relative;
    }

    h2 {
        padding: 0;
    }
}

@media(min-width: 320px) and (max-width: 900px) {
    h2 {
        font-size: 48px;
        padding: 0 40px 0 8px;
    }

    .short-line {
        width: 24px;
    }

    .main-container {
        text-align: center;
        padding: 112px 32px;

        >span {
            margin-top: 0;
        }
    }

    .shadow-purple {
        left: 144px;
        bottom: 31%;
        width: 480px;
    }

    .shadow-green {
        width: 240px;
        right: -14%;
        bottom: -10%;
    }
}

@media(min-width: 1700px) and (max-width: 1920px) {
    .long-line {
        width: 36%;
    }
}

@media(min-width: 1500px) and (max-width: 1700px) {
    .long-line {
        width: 34%;
    }
}

@media(min-width: 1300px) and (max-width: 1500px) {
    .long-line {
        width: 32%;
    }
}

@media(min-width: 1100px) and (max-width: 1300px) {
    .long-line {
        width: 30%;
    }
}

@media(min-width: 1000px) and (max-width: 1100px) {
    .long-line {
        width: 28%;
    }
}

@media(min-width: 900px) and (max-width: 1000px) {
    .long-line {
        width: 26%;
    }
}

@media(min-width: 800px) and (max-width: 1100px) {
    h2 {
        font-size: 64px;
    }
}

@media(min-width: 600px) and (max-width: 900px) {
    .long-line {
        width: 32%;
    }
}

@media(min-width: 500px) and (max-width: 600px) {
    .long-line {
        width: 28%;
    }
}

@media(min-width: 400px) and (max-width: 500px) {
    .long-line {
        width: 22%;
    }
}

@media(min-width: 320px) and (max-width: 400px) {
    .long-line {
        width: 16%;
    }
}