<div class="main-container">
    <div>
        <span class="short-line"></span>
        <h2>Portfolio</h2>
        <span class="long-line"></span>
    </div>
    <span>The following is a selection of my work - let´s bring it to life!</span>

    <app-project *ngFor="let project of myProjects; let i = index" [i]="i" [imgPath]="myProjects[i]['imgPath']"
        [name]="myProjects[i]['name']" [language]="myProjects[i]['language']"
        [description]="myProjects[i]['description']" [live]="myProjects[i]['live']" [github]="myProjects[i]['github']">
    </app-project>

    <img class="shadow-purple" src="assets/img/projects_shadow.png">

    <img class="shadow-green" src="assets/img/projects_shadow_green.png">
</div>