<app-header></app-header>

<div class="main-container">
    <h1>{{ lngService.imprint["header"] }}</h1>

    <p>Stephanie Wetzel<br />
        Schlesienstra&szlig;e 14<br />
        95482 Gefrees</p>

    <div class="contact-container">
        <h2>{{ lngService.imprint["contact"] }}</h2>
        <p>{{ lngService.imprint["phone"] }}: 015110779840<br />
            {{ lngService.imprint["mail"] }}: st.wetzel96&#64;hotmail.com</p>
    </div>

    <p>{{ lngService.imprint["source"] }}: <a href="https://www.e-recht24.de">eRecht24</a></p>
</div>